.container-input {
    display: flex;
    flex-direction: column;
    margin:0 50px;
    height: 20px;
  }
  
  .container-input > * {
    width: 80%;
  }

  .grid-container {
    margin: 20px;
    top:80%;
  }
  
  .dashboard-card {
    position: absolute;
    top: 250px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }

  .button-row,
  .button-row a {
  margin-right: 8px;
  padding: 10px;
}
  
  .dashboard-card-content {
    text-align: center;
    
  }
  